# Compiled source #
###################
*.pyc
__pycache__/

# Logs and databases #
######################
*.log
.simulator_cache/
.gui_settings/
log/
*.npy
*.mat
*.wav

# Obsolete files #
##################
obs/
